@import "mixins";
$primary-font: "Roboto", sans-serif;
$secondary-font: "Open Sans", sans-serif;

* {
	text-transform: capitalize;
}

body {
	font-family: $secondary-font;
	h4 {
		font-family: $primary-font;
	}
}

.container {
	@include min-max(auto, 1240px);
}

.reviews {
	&__header {
	}

	&__header-title {
	}

	&__header-title-underline {
		
	}

	&__item {
	}
}
.review {
	&__author-img-wrapper {
	}

	&__author-img {
	}

	&__author-name {
	}

	&__author-job {
	}

	&__text {
	}

	&__button-wrapper {
	}

	&__chevron-button {
	}

	&__rnd-button {
	}
}
.fas {
}
.fa-chevron-left {
}
.fa-chevron-right {
}
